sudo: required
services:
  - docker

before_install:
  - docker build -t fadilnatakusumah/docker-react -f Dockerfile.dev .

script:
  - docker run fadilnatakusumah/docker-react npm run test -- --coverage --watchAll=false
